.UserContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 5px;


}

.TopInfo {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin: 3px;
}


.InfoContainer {
    display: flex;
    padding: 5px;
}


.ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 240px; */
    /* height: 260px; */
    height: 100%;
}

.Image {
    border-radius: 15px;
    width: 180px;
    height: 180px;
}

.ExtraInfo {
    border: 1px solid red;
    width: 50%;
}

.Address {
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.Geo {
    width: 90%;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.InfoField {
    border: 1px solid pink;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;

}

.AddressLine {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0;
}


.GeoField {
    display: flex;
    width: 80%;
    margin: 1px;
    padding: 2px;


}


.Last {
    /* border: 1px solid blue; */
    text-align: right;
}